.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 2.5em;
    margin: 0px auto 30px;
  }

  .items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 10px;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}
